/* MEDIA QUERIES */

@media (max-width: 700px) {
    .container-fluid {
        padding: 1% 3.5% 4% !important;
    }

    .league-name {
        font-size: 1.8rem !important;
    }

    .club-name {
        font-size: 1.8rem !important;
    }

    .affiliates-by-league-header {
        font-size: 2.4rem !important;
    }

    .affiliates-card-header {
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 2%;
        padding-right: 2%;
    }

    h1 {
        font-size: 3.6rem !important;
    }

    h2 {
        font-size: 1.8rem !important;
    }

    h3 {
        font-size: 1.5rem !important;
    }

    h4 {
        font-size: 1.55rem !important;
    }

    .about-me,
    .my-skills,
    .my-projects,
    .contact-me {
        width: 150px !important;
    }

    .about-me-text {
        font-size: 1.25rem !important;
    }

    .about-me-card {
        min-height: 20px !important;
    }

    .my-skills-card,
    .my-skills-card-long {
        min-height: 200px !important;
    }

    .my-skills-card-icon-container {
        font-size: 4rem !important;
    }

    .my-skills-card-title-container {
        font-size: 1.5rem !important;
    }

    .my-skills-card-list-container {
        font-size: 1.25rem !important;
    }

    .my-projects-card-frameworks {
        margin: 0.25rem 1rem !important;
    }

    .my-projects-card-frameworks-container {
        font-size: 1.2rem !important;
        margin: 10px !important;
    }

    .my-projects-card-title-container {
        margin: 15px 0 0 0 !important;
    }

    .lengthen {
        margin: 15px 0 0 0 !important;
        display: none !important;
    }

    .shorten {
        margin: 15px 0 0 0 !important;
        display: flex !important;
    }

    .my-projects-card-description-container {
        font-size: 1.15rem !important;
    }

    .my-projects-card-description-container-short {
        font-size: 1.15rem !important;
    }

    .my-projects-card-image-container {
        min-height: 100px !important;
        position: relative;
        object-fit: cover;
        display: block;
    }

    .my-projects-card-image-container-short {
        min-height: 100px !important;
    }

    .my-projects-card {
        height: 725px !important;
    }

    .my-projects-card-short {
        height: 625px !important;
    }

    .my-projects-card-link-container {
        padding: 0 1% 10px 1% !important;
    }

    .btn-lg {
        font-size: 1.1rem !important;
    }

    .portrait-image {
        max-height: 150px !important;
    }

    .contact-me-buttons {
        height: 150px !important;
    }

    .contact-me-icon {
        font-size: 50px !important;
        width: 70px !important;
        height: 70px !important;
    }

    .footer-text {
        font-size: 0.8rem !important;
        margin-bottom: 12px !important;
    }
}

@media (max-width: 992px) {
    .about-me-card-wide {
        padding: 4% 12% !important;
    }
}

@media (max-width: 1100px) {
    .desktop-graph-2021 {
        display: none !important;
    }

    .mobile-graph-2021 {
        display: inline !important;
    }

    .mobile-graph-caption {
        display: inline !important;
    }
}

/* HTML ELEMENTS */

body {
    font-family: 'Overlock', sans-serif;
    background-color: #162447;
    color: #f6f1eb;
    text-align: center;
}

h1 {
    font-family: 'Mali', cursive;
    color: #ffffff;
    font-size: 4.1rem;
}

h2 {
    font-family: 'Overlock', cursive;
    color: #f6f1eb;
    font-size: 2.2rem;
}

h3 {
    font-family: 'Overlock', cursive;
    color: #1b1b2f;
    font-size: 2rem;
    font-weight: bold;
}

h4 {
    font-family: 'Overlock', cursive;
    color: #f6f1eb;
    font-size: 2rem;
    font-weight: bold;
}

table {
    width: 100%;
}

/* ID'S */

/* CLASSES */

.container-fluid {
    padding: 1% 7.5% 5%;
}

.title-myname {
    font-family: 'Mali', cursive;
    color: #f6f1eb;
    font-size: 2rem;
}

.title-item {
    font-family: 'Overlock', cursive;
    color: #e2dfdb;
    font-size: 1.3rem;

}

.nav-item {
    padding: 0 22px;
}

.nav-resume {
    border: solid #e43f5a;
    background-color: #e43f5a;
    color: #1b1b2f;
    font-weight: bold;
}

.hi-im-matt {
    padding: 70px 0 20px;
}

.hi-im-matt-subtitle {
    padding: 0 0 50px 0;
}

.about-me {
    margin: auto;
    padding: 5px 0;
    width: 200px;
    background-color: #e43f5a;
}

.about-me-container {
    width: 87.5%;
}

.about-me-card {
    background-color: #1f4068;
    padding: 4% 12%;
    margin-bottom: 40px;
    border-radius: 0.6rem;
    min-height: 60px;
    box-shadow: 8px 15px 25px #0d0c224d, 4px 8px 13px #0a0a1f96;
}

.about-me-card-wide {
    background-color: #1f4068;
    padding: 2% 6%;
    margin-top: 60px;
    margin-bottom: 40px;
    border-radius: 0.6rem;
    min-height: 20px;
    box-shadow: 8px 15px 25px #0d0c224d, 4px 8px 13px #0a0a1f96;
}

.about-me-text {
    text-align: left;
    font-size: 1.45rem;
}

.about-me-text-container {
    margin: 60px 0 0 0;
}

.about-me-text-container-two {
    margin: 0;
}

.about-me-paragraph {
    margin-bottom: 30px;
}

.portrait-container {
    margin: 60px 0 0 0;
}

.portrait-image {
    border-radius: 50%;
    max-height: 200px;
}

.my-skills {
    margin: auto;
    padding: 5px 0;
    width: 200px;
    background-color: #e43f5a;
}

.my-skills-container {
    margin: 60px 0 0 0;
}

.my-skills-container-long {
    margin: 0;
}

.my-skills-card {
    background-color: #1f4068;
    margin-bottom: 40px;
    border-radius: 0.6rem;
    min-height: 450px;
    box-shadow: 8px 15px 25px #0d0c224d, 4px 8px 13px #0a0a1f96;
}

.my-skills-card-long {
    background-color: #1f4068;
    margin-bottom: 40px;
    border-radius: 0.6rem;
    min-height: 530px;
    box-shadow: 8px 15px 25px #0d0c224d, 4px 8px 13px #0a0a1f96;
}

.my-skills-card-icon-container {
    padding: 15px 0 0 0;
    font-size: 5rem;
    color: #e43f5a;
}

.my-skills-card-title-container {
    font-size: 1.8rem;
    font-weight: bold;
    color: #f6f1eb;
    padding: 0 4% 5px 4%;
}

.my-skills-card-list-container {
    font-size: 1.5rem;
    text-align: left;
    color: #f6f1eb;
    padding: 0 4% 10px 14%;
}

.my-projects {
    margin: auto;
    padding: 5px 0;
    width: 200px;
    background-color: #e43f5a;
}

.my-projects-container {
    margin: 60px 0 0 0;
}

.my-projects-container-two {
    margin: 0;
}

.my-projects-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #1f4068;
    margin-bottom: 40px;
    border-radius: 0.6rem;
    height: 875px;
    box-shadow: 8px 15px 25px #0d0c224d, 4px 8px 13px #0a0a1f96;
}

.my-projects-card-short {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #1f4068;
    margin-bottom: 40px;
    border-radius: 0.6rem;
    height: 725px;
    box-shadow: 8px 15px 25px #0d0c224d, 4px 8px 13px #0a0a1f96;
}

.my-projects-card-image {
    padding: 4% 3% 0 3%;
    width: 100%;
    height: 100%;
    left: 0;
    max-height: 100%;
    object-fit: cover;
}

.my-projects-card-image-container {
    min-height: 200px;
    position: relative;
    object-fit: cover;
    display: block;
    flex-shrink: 1;
}

.my-projects-card-image-container-short {
    min-height: 200px;
    position: relative;
    object-fit: cover;
    display: block;
}

.my-projects-card-title-container {
    display: flex;
    flex-wrap: wrap;
    color: #f6f1eb;
    margin: 20px 0;
    justify-content: center;
    align-content: center;
}

.lengthen {
    display: flex;
    flex-wrap: wrap;
    color: #f6f1eb;
    margin: 20px 0;
    justify-content: center;
    align-content: center;
}

.shorten {
    display: none;
    flex-wrap: wrap;
    color: #f6f1eb;
    margin: 20px 0;
    justify-content: center;
    align-content: center;
}

.my-projects-card-frameworks {
    margin: 0.5rem 2rem;
}

.my-projects-card-frameworks-container {
    display: flex;
    flex-wrap: wrap;
    color: #f6f1eb9d;
    font-size: 1.3rem;
    justify-content: center;
    align-content: center;
    margin-bottom: 30px;
}

.my-projects-card-description-container {
    padding: 0 4% 5px 4%;
    font-size: 1.3rem;
    text-align: left;
    flex-grow: 1;
}

.my-projects-card-description-container-short {
    padding: 0 4% 5px 4%;
    font-size: 1.3rem;
    text-align: left;
    flex-grow: 1;
}

.my-projects-card-link-container {
    padding: 0 1% 20px 1%;
    text-align: center;
}

.contact-me {
    margin: auto auto 60px auto;
    padding: 5px 0;
    width: 200px;
    background-color: #e43f5a;
}

.contact-me-container {
    width: 70%;
}

.contact-me-buttons {
    display: flex;
    height: 200px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.contact-me-icon {
    padding: 10px;
    font-size: 70px;
    width: 90px;
    height: 90px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa-envelope {
    background: #c52929;
    color: white;
}

.fa-envelope:hover {
    color: #7775ff;
    text-decoration: none !important;
}

.fa-linkedin {
    background: #0d3d79;
    color: white;
}

.fa-linkedin:hover {
    color: #7775ff;
    text-decoration: none !important;
}

.fa-github {
    background: #030b1d;
    color: white;
}

.fa-github:hover {
    color: #4946ff;
    text-decoration: none !important;
}

.footer-text {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 20px;
}

.affiliates-by-league-header {
    font-weight: bold;
    font-size: 3rem;
}

.affiliates-card-header {
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 2rem;
    border: solid #e2dfdb;
    border-style: inset;
    margin: 12px auto;
}

.league-name {
    font-family: 'Overlock', cursive;
    color: #f6f1eb;
    font-size: 2.1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.club-name {
    text-align: left;
    font-family: 'Overlock', cursive;
    color: #f6f1eb;
    font-size: 2.1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-link {
    width: 100%;
}

.btn-link:focus {
    outline: none !important;
    box-shadow: 0 0 0 0;
}

.affiliate-table {
    font-size: 1.3rem;
    margin: 0 0 30px 0;
    background-color: #1b1b2f;
}

.item {
    padding: 7px 0 7px 0;
    font-weight: bold;
}

.item-header {
    padding: 7px 0 7px 0;
    background-color: #1f4068;
    font-weight: bold;
    font-size: 1.5rem;
}

.item-new {
    padding: 7px 0 7px 0;
    background-color: #e43f5a;
    color: black;
    font-weight: bold;
}

.desktop-graph-2021 {
    margin-bottom: 0 auto;
}

.mobile-graph-2021 {
    display: none;
}

.mobile-graph-caption {
    display: none;
    font-size: 0.75rem;
}

.mobile-graph-image-container {
    max-width: 110px;
    position: relative;
    object-fit: cover;
    display: block;
}

.mobile-graph-image {
    width: 100%;
    height: 100%;
    left: 0;
    max-height: 100%;
    object-fit: cover;
}

.club-ARI {
    background-color: #4d0f0f;
}

.club-ATL {
    background-color: #070238;
}

.club-BAL {
    background-color: #db6a00;
}

.club-BOS {
    background-color: #a80000;
}

.club-CHC {
    background-color: #070e77;
}

.club-CHW {
    background-color: #000000;
}

.club-CIN {
    background-color: #d80000;
}

.club-CLE {
    background-color: #06053a;
}

.club-COL {
    background-color: #2b0342;
}

.club-DET {
    background-color: #020241;
}

.club-HOU {
    background-color: #95550b;
}

.club-KC {
    background-color: #09189e;
}

.club-LAA {
    background-color: #900606;
}

.club-LAD {
    background-color: #03018f;
}

.club-MIA {
    background-color: #085fa7;
}

.club-MIL {
    background-color: #f1b900;
}

.club-MIN {
    background-color: #05055d;
}

.club-NYM {
    background-color: #c26700;
}

.club-NYY {
    background-color: #04044b;
}

.club-OAK {
    background-color: #014b01;
}

.club-PHI {
    background-color: #be0000;
}

.club-PIT {
    background-color: #ffd900;
}

.club-SD {
    background-color: #492a0d;
}

.club-SF {
    background-color: #db7c0f;
}

.club-SEA {
    background-color: #004e4e;
}

.club-STL {
    background-color: #b10000;
}

.club-TB {
    background-color: #003a69;
}

.club-TEX {
    background-color: #690a0a;
}

.club-TOR {
    background-color: #000080;
}

.club-WSH {
    background-color: #a01010;
}